<h1>My First Angular4 Application </h1>

<div>
  <p>Hello, {{ currentUser.username }}!</p>
  <p [hidden]="hideEmail">Your e-mail address is <em>{{ currentUser.email }}</em></p>
  <button (click)="toggle()">Toggle(click)</button>
</div>

<div>
  <input type="text" #a>
  <p>Value of input is: {{ a.value }}</p>
</div>

<div>
  <input type="text" #b (keyup)="0">
  <p>Value of input is: {{ b.value }}</p>
</div>

<div>
  <h3>Change email:</h3>
  <input type="text" name="name" #newMail>
  <button (click)="changeMail(newMail.value)">Change</button>
</div>
